# Ignore node modules
front-end/node_modules
back-end/node_modules

# Ignore env files
front-end/.env
back-end/.env

# Ignore uploads folder
back-end/uploads
front-end/uploads

# OS-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
